@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://cdn.dribbble.com/users/1318511/screenshots/6387143/irctc_1_4x.png?resize=400x0">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
